* {
    margin: 0;
    padding: 0;
}


.content {
    width: 100%;
    height: 400px;
    background-color: #FFFFFF;
}


.content h1 {
    font-family: sans-serif;
    margin: 20px 0px;
    color: #2DA3D7;
}

.content p {
    width: 60%;
}

.Header{
    width: 100%;
    height: auto;
    background-color: blue;
    color: white;
    padding-bottom: 150px;
}

.Header h1{
    margin-left: 300px;
    padding-top: 20px;
    margin-bottom: 100px;
}


.Header h3 {
    font-size: 60px;
    margin-left: 300px;
}

.Header p {
    color: rgba(255, 255, 255, 0.712);
    margin-top: 30px;
    margin-left: 300px;
}