*
{
    margin: 0;
    padding: 0;
}
.Header
{
    max-width: 1400px;
    width: 100%;
    padding:100px;
    background-color: blue;
    color: white;
}
.Header h3 
{
    font-size: 60px;
    margin-left: 300px;
}
.Header p 
{
    color: rgba(255, 255, 255, 0.712);
    width: 40%;
    margin-left: 20%;
    margin-top: 30px;
}